<header>
  <h3>New Comment</h3>
</header>

<%= simple_form_for [ticket, comment] do |f| %>
  <%= f.input :text %>
  <% if policy(ticket).change_state? %>
    <%= f.association :state %>
  <% end %>
  <%= render "tags/form", f: f %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
